{% extends 'base.html.twig' %}

{% block title %}Page A propos{% endblock %}

{% block body %}

<div class="color-block-video-title">
    <video class="video-title" height="360" autoplay="true" loop muted>
        <source src="{{asset('bgvideo/background-video.mp4')}}" type="video/mp4" />
    </video>
    <div class="video-title-text">A propos</div>
</div>

<div class="plop">
    <div class="button">En savoir plus...</div>
    <div class="social github"><a href="https://github.com/vngn" target="_blank"><i class="fab fa-github"></i></a></div>
    <div class="social linkedin"><a href="https://www.linkedin.com/in/vincent-nguyen-46862a70/" target="_blank"><i
                class="fab fa-linkedin"></i></a></div>
    <div class="social cvsite"><a href="https://developpeur-de-site-web.fr/CVSite-Vincent-NGUYEN/" target="_blank"><i
                class="far fa-address-card"></i></a></div>
    <div class="social email"><a href="{{ path('contact_index') }}"><i class="icon-contact sidenav-icon"></i></a>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
            <feBlend in="SourceGraphic" in2="goo" />
        </filter>
    </defs>
</svg>

{% endblock %}