{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="example-wrapper about-title">
    <div class="example-wrapper home-color text-titre">
    <div class="title">A propos</div>
</div>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endblock %}