{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<video class="video-title" height="360" autoplay="true" loop muted>
    <source src="{{asset('bgvideo/background-video.mp4')}}" type="video/mp4" />
</video>
<div class="video-title-text">A propos</div>
{% endblock %}