<h1>Bonjour! Veuillez confirmer votre Email !</h1>
<p>
    Veuillez confirmer votre Email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    <br />
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>