{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation de mot de passe envoyé{% endblock %}

{% block body %}
<p>Un Email contenant un lien que vous pouvez cliquer pour réinitialiser votre mot de passe a été envoyé. Ce lien expirera dans
    {{ tokenLifetime|date('g') }} heure(s).</p>
<p>Si vous ne recevez pas d'Email, vérifiez vos spam ou <a
        href="{{ path('app_forgot_password_request') }}">Réessayez</a>.</p>
{% endblock %}