{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
<div class="example-wrapper-title">
    <h1>Réinitialiser votre mot de passe</h1>
</div>

<div class="example-wrapper visitors-color">
    {{ form_start(resetForm) }}
    {{ form_row(resetForm.plainPassword, {
            label: 'Nouveau mot de passe : '
        }) }}
    <button class="btn shadow-1 rounded-1 green dark-2">Réinitialiser votre mot de passe</button>
    {{ form_end(resetForm, {
            label: 'Confirmation du nouveau mot de passe : '
        }) }}
</div>
{% endblock %}