@charset "UTF-8";

/* DOCUMENT INFORMATION
    - Document: Site Vincent NGUYEN
    - Version : 1.0.1 du 01/08/2020
    - Auteur: Vincent NGUYEN- 01/08/2020

/* COLORS
    - default body text     black
    - h1                    black
    - h2                    black
    - h3                    black
    - h4                    black
    - block menu            white & black if hover
    - icon                  white 
    - button                white & green for background-color  
    - users                 $color-users   
    - visitors              $color-visitors 
    - home                  $color-home 
    - users                 $color-users 
    - articles              $color-articles 
    - blog                  $color-blog 
    - about                 $color-about 
    - contact               $color-contact    

/* FONTS
    - Default:              ''

/* CSS DIRECTORY

    0. GLOBAL

    0. TOUTES LES PAGES

    1. PAGE ACCUEIL / NEWS

    2. PAGE PORTFOLIO

    3. PAGE ARTICLES

    4. PAGE BLOG

    5. PAGE A PROPOS

    6. PAGE CONTACT

    7. PAGE CATEGORIES

    8. PAGE USERS

    9 PAGE MAJ

    X. FOOTER

/* ============================== 0. GLOBAL ============================== */

$color-users: green;

$color-visitors: red;

$color-home: rgb(208, 101, 3);

$color-portfolio: rgb(233, 147, 26);

$color-articles: rgb(22, 145, 190);

$color-blog: rgb(22, 107, 162);

$color-about: rgb(27, 54, 71);

$color-contact: rgb(21, 40, 54);

@mixin bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@mixin background-color {
    background-color: white;
}

body {
    @include background-color;
    font-weight: 400;
    font-size: 15px;
    color: #3a2127;
    overflow-y: scroll;
}

.example-wrapper {
    margin: 2em auto;
    width: 84%;
    font: 18px/1.5 sans-serif;
}

.example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
}

ol,
ul {
    list-style: none;
}

.btn {
    display: inline-block;
    margin: 0;
}

/* ============================== 0. TOUTES LES PAGES ============================== */

.mh-menu {
    width: 84%;
    height: 450px;
    margin: 10px auto;
    padding: 0;
    position: relative;

    ul {
        list-style: inside;
    }

    li a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 10px;
    }

    li a span {
        display: block;
    }

    li a span:first-child {
        font-weight: 700;
        font-size: 16px;
        padding-top: 10px;
    }

    li a span:nth-child(2) {
        font-weight: 400;
        font-style: italic;
        font-size: 28px;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        -ms-transition: color 0.2s linear;
        transition: color 0.2s linear;
    }
}

/* harmonisation des couleurs entre la navbar, les h1 et les bordures */

@mixin bgcolor-border-users {
    border: 4px solid $color-users;
    @include background-color;
}

@mixin bgcolor-border-visitors {
    border: 4px solid $color-visitors;
    @include background-color;
}

@mixin bgcolor-border-home {
    border: 4px solid $color-home;
    @include background-color;
}

@mixin bgcolor-border-portfolio {
    border: 4px solid $color-portfolio;
    @include background-color;
}

@mixin bgcolor-border-articles {
    border: 4px solid $color-articles;
    @include background-color;
}

@mixin bgcolor-border-blog {
    border: 4px solid $color-blog;
    @include background-color;
}

@mixin bgcolor-border-about {
    border: 4px solid $color-about;
    @include background-color;
}

@mixin bgcolor-border-contact {
    border: 4px solid $color-contact;
    @include background-color;
}

.users-color {
    @include bgcolor-border-users;
}

.visitors-color {
    @include bgcolor-border-visitors;
}

.home-color {
    @include bgcolor-border-home;
}

.portfolio-color {
    @include bgcolor-border-portfolio;
}

.articles-color {
    @include bgcolor-border-articles;
}

.blog-color {
    @include bgcolor-border-blog;
}

.about-color {
    @include bgcolor-border-about;
}

.contact-color {
    @include bgcolor-border-contact;
}

/* barres de navigation verticale */

@mixin sidenav {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 220px;
}

@mixin sidenav-gradient ($color) {
    border: 4px solid $color;
    background: linear-gradient(white, $color 75%);
}

.sidenav {
    @include sidenav;
}

.sidenav-border-color-users {
    @include sidenav-gradient($color-users);
}

.sidenav-border-color-visitors {
    @include sidenav-gradient($color-visitors);
}

.sidenav-border-color-home {
    @include sidenav-gradient($color-home);
}

.sidenav-border-color-portfolio {
    @include sidenav-gradient($color-portfolio);
}

.sidenav-border-color-articles {
    @include sidenav-gradient($color-articles);
}

.sidenav-border-color-blog {
    @include sidenav-gradient($color-blog);
}

.sidenav-border-color-about {
    @include sidenav-gradient($color-about);
}

.sidenav-border-color-contact {
    @include sidenav-gradient($color-contact);
}

.sidenav-trigger {

    opacity: 0.4;
    transition: 0.5s;

    &:hover {
        opacity: 1;
        transition: 0.5s;
    }
}

/* boutons de navigation de la barre verticale */

@mixin button-sidebar-position {
    position: fixed;
    left: 0;
}

.sidenav-admin {
    @include button-sidebar-position;
    top: 18em;
}

.sidenav-registered {
    @include button-sidebar-position;
    top: 18em;
}

.sidenav-visitor {
    @include button-sidebar-position;
    top: 18em;
}

.sidenav-menu {
    @include button-sidebar-position;
    top: 22.2em;
}

.sidenav-portfolio {
    @include button-sidebar-position;
    top: 24.7em;
}

.sidenav-articles {
    @include button-sidebar-position;
    top: 27.2em;
}

.sidenav-blog {
    @include button-sidebar-position;
    top: 29.7em;
}

.sidenav-about {
    @include button-sidebar-position;
    top: 32.2em;
}

.sidenav-contact {
    @include button-sidebar-position;
    top: 34.7em;
}

/* icones des boutons de navigation verticale */

.icone-admin {
    color: $color-users
}

.bg00 {
    @include bg;
}

h1 {
    text-align: center;
}

// /* ============================== 1. PAGE ACCUEIL / NEWS ============================== */

/* Texte titre */
@mixin center() {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: transparent;
    font-size: 140px;
    background: url("https://phandroid.s3.amazonaws.com/wp-content/uploads/2014/05/rainbow-nebula.jpg") repeat;
    background-position: 40% 50%;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    text-align: center;
    line-height: 140px;
    letter-spacing: -8px;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    display: block;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

/* fin du texte titre */

@mixin menu-home-for-all ($color) {
    height: 450px;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: $color;
    box-shadow: 0 0 100px -100px white inset;
    transition: box-shadow 2.5s;

    &:hover {
        color: black;
        box-shadow: 0 480px 100px -100px white inset;
        transition: box-shadow 1s;
    }
}

.mh-menu-home {
    @include menu-home-for-all ($color-home);
}

.mh-menu-portfolio {
    @include menu-home-for-all ($color-portfolio);
}

.mh-menu-articles {
    @include menu-home-for-all ($color-articles);
}

.mh-menu-blog {
    @include menu-home-for-all ($color-blog);
}

.mh-menu-about {
    @include menu-home-for-all ($color-about);
}

.mh-menu-contact {
    @include menu-home-for-all ($color-contact);
}

// /* ============================== 2. MES PRODUCTIONS ============================== */

.production :hover a {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.pdo:hover a {
    display: none;
}

.php:hover a {
    display: none;
}

.html:hover a {
    display: none;
}

.site {
    opacity: 0.9925;

    li iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 0px;
        top: 0px;
        background-color: white;
        opacity: 0;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }
}

.site-home li iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    background-color: white;
}

.site li:hover iframe {
    left: 0px;
    top: 0px;
    opacity: 1;
}

.btn-site {
    width: 84%;
    margin: 10px auto 40px;
    text-align: center;
}

// /* ============================== x. MAJ ============================== */

/* ============================== x. FOOTER ============================== */