/* DOCUMENT INFORMATION
    - Document: Site Vincent NGUYEN
    - Version : 1.0.1 du 01/08/2020
    - Auteur: Vincent NGUYEN- 01/08/2020

/* COLORS
    - default body text     black
    - h1                    black
    - h2                    black
    - h3                    black
    - h4                    black
    - p                     black
    - icon                  white   
    - users                 $color-users   
    - visitors              $color-visitors 
    - home                  $color-home 
    - users                 $color-users 
    - articles              $color-articles 
    - blog                  $color-blog 
    - about                 $color-about 
    - contact               $color-contact    

/* FONTS
    - Default:              ''

/* CSS DIRECTORY

    0.  SASS

    0.  GLOBAL

    1. PAGE ACCUEIL / NEWS

    2. PAGE PORTFOLIO

    3. PAGE ARTICLES

    4. PAGE BLOG

    5. PAGE A PROPOS

    6. PAGE CONTACT

    7. PAGE CATEGORIES

    8. PAGE USERS

    9 PAGE MAJ

    X. FOOTER

/* ============================== SASS ============================== */
/* ============================== 0. GLOBAL ============================== */
body {
  background-color: white;
  font-weight: 400;
  font-size: 15px;
  color: #3a2127;
  overflow-y: scroll;
}

.example-wrapper {
  margin: 2em auto;
  width: 84%;
  font: 18px/1.5 sans-serif;
}

.example-wrapper code {
  background: #F5F5F5;
  padding: 2px 6px;
}

ol,
ul {
  list-style: none;
}

.btn {
  display: inline-block;
  margin: 0;
}

/* ============================== 0. PAGES ============================== */
/* harmonisation des couleurs entre la navbar, les h1 et les bordures */
.users-color {
  border: 4px solid green;
  background-color: white;
}

.visitors-color {
  border: 4px solid red;
  background-color: white;
}

.home-color {
  border: 4px solid #d06503;
  background-color: white;
}

.portfolio-color {
  border: 4px solid #e9931a;
  background-color: white;
}

.articles-color {
  border: 4px solid #1691be;
  background-color: white;
}

.blog-color {
  border: 4px solid #166ba2;
  background-color: white;
}

.about-color {
  border: 4px solid #1b3647;
  background-color: white;
}

.contact-color {
  border: 4px solid #152836;
  background-color: white;
}

/* barres de navigation verticale */
.sidenav {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 220px;
}

.sidenav-border-color-users {
  border: 4px solid green;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(75%, green));
  background: linear-gradient(white, green 75%);
}

.sidenav-border-color-visitors {
  border: 4px solid red;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(75%, red));
  background: linear-gradient(white, red 75%);
}

.sidenav-border-color-home {
  border: 4px solid #d06503;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(75%, #d06503));
  background: linear-gradient(white, #d06503 75%);
}

.sidenav-border-color-portfolio {
  border: 4px solid #e9931a;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(75%, #e9931a));
  background: linear-gradient(white, #e9931a 75%);
}

.sidenav-border-color-articles {
  border: 4px solid #1691be;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(75%, #1691be));
  background: linear-gradient(white, #1691be 75%);
}

.sidenav-border-color-blog {
  border: 4px solid #166ba2;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(75%, #166ba2));
  background: linear-gradient(white, #166ba2 75%);
}

.sidenav-border-color-about {
  border: 4px solid #1b3647;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(75%, #1b3647));
  background: linear-gradient(white, #1b3647 75%);
}

.sidenav-border-color-contact {
  border: 4px solid #152836;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(75%, #152836));
  background: linear-gradient(white, #152836 75%);
}

.sidenav-trigger {
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav-trigger:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* boutons de navigation verticale */
.sidenav-admin {
  position: fixed;
  left: 0;
  top: 18em;
}

.sidenav-registered {
  position: fixed;
  left: 0;
  top: 18em;
}

.sidenav-visitor {
  position: fixed;
  left: 0;
  top: 18em;
}

.sidenav-menu {
  position: fixed;
  left: 0;
  top: 22.2em;
}

.sidenav-portfolio {
  position: fixed;
  left: 0;
  top: 24.7em;
}

.sidenav-articles {
  position: fixed;
  left: 0;
  top: 27.2em;
}

.sidenav-blog {
  position: fixed;
  left: 0;
  top: 29.7em;
}

.sidenav-about {
  position: fixed;
  left: 0;
  top: 32.2em;
}

.sidenav-contact {
  position: fixed;
  left: 0;
  top: 34.7em;
}

/* icones des boutons de navigation verticale */
.icone-admin {
  color: green;
}

.bg00 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

.mh-menu {
  margin: 10px auto;
  padding: 0;
  position: relative;
  width: 84%;
  height: 450px;
}

.mh-menu ul {
  list-style: inside;
}

.mh-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.mh-menu li a span {
  display: block;
}

.mh-menu li a span:first-child {
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
}

.mh-menu li a span:nth-child(2) {
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.mh-menu-home {
  min-height: 500px;
  margin: auto;
  padding: 50px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(75%, #d06503));
  background: linear-gradient(white, #d06503 75%);
}

.mh-menu-home:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, white), to(#d06503));
  background: linear-gradient(white 75%, #d06503);
}

.mh-menu-portfolio {
  min-height: 500px;
  margin: auto;
  padding: 50px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(75%, #e9931a));
  background: linear-gradient(white, #e9931a 75%);
}

.mh-menu-portfolio:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, white), to(#e9931a));
  background: linear-gradient(white 75%, #e9931a);
}

.mh-menu-articles {
  min-height: 500px;
  margin: auto;
  padding: 50px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(75%, #1691be));
  background: linear-gradient(white, #1691be 75%);
}

.mh-menu-articles:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, white), to(#1691be));
  background: linear-gradient(white 75%, #1691be);
}

.mh-menu-blog {
  min-height: 500px;
  margin: auto;
  padding: 50px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(75%, #166ba2));
  background: linear-gradient(white, #166ba2 75%);
}

.mh-menu-blog:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, white), to(#166ba2));
  background: linear-gradient(white 75%, #166ba2);
}

.mh-menu-about {
  min-height: 500px;
  margin: auto;
  padding: 50px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(75%, #e9931a));
  background: linear-gradient(white, #e9931a 75%);
}

.mh-menu-about:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, white), to(#1b3647));
  background: linear-gradient(white 75%, #1b3647);
}

.mh-menu-contact {
  min-height: 500px;
  margin: auto;
  padding: 50px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(75%, #152836));
  background: linear-gradient(white, #152836 75%);
}

.mh-menu-contact:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, white), to(#152836));
  background: linear-gradient(white 75%, #152836);
}

.production :hover a {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.pdo:hover a {
  display: none;
}

.php:hover a {
  display: none;
}

.html:hover a {
  display: none;
}

.site {
  opacity: 0.9925;
}

.site li iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.site-home li iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-color: white;
}

.site li:hover iframe {
  left: 0px;
  top: 0px;
  opacity: 1;
}

.btn-site {
  width: 84%;
  margin: 10px auto 40px;
  text-align: center;
}

/* ============================== x. FOOTER ============================== */
/*# sourceMappingURL=style.css.map */