@charset "UTF-8";

/* DOCUMENT INFORMATION
    - Document: Site Vincent NGUYEN
    - Version : 1.0.1 du 01/08/2020
    - Auteur: Vincent NGUYEN- 01/08/2020

/* Z-INDEX
style.scss :
    - .block-portfolio                      z-index: 0
    - .block-portfolio li iframe            z-index: 1
    - .video-title                          z-index: 2
    - .video-title-text                     z-index: 4
    - @mixin button-sidebar-position        z-index: 998 (display: none en responsive mobile)
    - sidenav-contact-length-admin          z-index: 998 (z-index: 5 en responsive)
    - @mixin sidenav                        z-index: 999
nasbar.scss :
    - .navtoogle i                          z-index: -1
    - #menu                                 z-index: 6
nextbutton.scss :
    - .wrapper-link-site                    z-index: 99

/* COLORS
    - default body text     black
    - h1                    black
    - h2                    black
    - h3                    black
    - h4                    black
    - block menu            white & black if hover
    - icon                  white 
    - button                white & green for background-color  
    - users                 $color-users   
    - visitors              $color-visitors 
    - home                  $color-home 
    - users                 $color-users 
    - articles              $color-articles 
    - blog                  $color-blog 
    - about                 $color-about 
    - contact               $color-contact    

/* FONTS
    - Default:              ''

/* CSS DIRECTORY
    0. GLOBAL
    0. TOUTES LES PAGES
    1. PAGE ACCUEIL
    2. PAGE PORTFOLIO
    3. PAGE ARTICLES
    4. PAGE BLOG
    5. PAGE A PROPOS
    6. PAGE CONTACT
    7. PAGE CATEGORIES
    8. PAGE USERS
    9. PAGE MAJ
    X. FOOTER

/* ============================== 0. GLOBAL ============================== */

/* RESPONSIVE */

// @mixin responsive {
// }

/* COULEURS */
$background-color: white;

$background-color-bis: rgb(235, 235, 235);

$background-color-border-bis: rgb(225, 225, 225);

$color-users: green;

$color-visitors: red;

$color-home: rgb(208, 101, 3);

$color-portfolio: rgb(233, 147, 26);

$color-articles: rgb(22, 145, 190);

$color-blog: rgb(22, 107, 162);

$color-about: rgb(27, 54, 71);

$color-contact: rgb(21, 40, 54);

.users-color {
    background-color: $background-color;
}

.visitors-color {
    background-color: $background-color;
}

.home-color {
    background-color: $background-color;
}

.portfolio-color {
    background-color: $background-color;
}

.articles-color {
    background-color: $background-color;
}

.blog-color {
    background-color: $background-color;
}

.about-color {
    background-color: $background-color;
}

.contact-color {
    background-color: $background-color;
}

body {
    width: 100%;
    background-color: $background-color;
    font-weight: 400;
    font-size: 15px;
    color: #3a2127;
    overflow-y: scroll;
}

/* FORMULAIRES */
@mixin basic-form {
    background: rgb(235, 235, 235);
    width: 100%;
    border: 1px solid $background-color-border-bis;
    margin-bottom: 5px;
    padding: 4px;
}

.background-form {
    @include basic-form;
}

.categories-form {
    @include basic-form;
}

.email-form {
    @include basic-form;
}

.firstname-form {
    @include basic-form;
}

.image-form {
    @include basic-form;
}

.name-form {
    @include basic-form;
}

.password-form {
    @include basic-form;
}

.password-form-password-edit {
    @include basic-form;
    margin-top: -5px;
    margin-bottom: 10px;
}

.phone-form {
    @include basic-form;
}

.photo-form-edit {
    @include basic-form;
    width: 100%;
}

.photo-form {
    @include basic-form;
    width: 100px;
}

.post-form {
    @include basic-form;
}

.society-form {
    @include basic-form;
}

.subject-form {
    @include basic-form;
}

.textarea-form {
    @include basic-form;
    min-width: 100%;
    max-width: 100%;
}

.title-form {
    @include basic-form;
}

/* BOUTONS "VALIDER" DES FORMULAIRES */
.btn-submit-form {
    background: green;
    color: white;
    border: 1px solid $background-color-border-bis;
    width: 100%;
    margin-top: 20px;
    padding: 5px;
}

@mixin basic-btn-submit-edit {
    background: green;
    color: white;
    border: 1px solid $background-color-border-bis;
    width: 100%;
    padding: 5px;
}

.btn-submit-form-password-edit {
    @include basic-btn-submit-edit;
    margin-top: 12px;
}

.btn-submit-form-profil-edit {
    @include basic-btn-submit-edit;
    margin-top: 10px;
}

/* BOUTONS GENERAUX (MODIFIER, GERER, SUPPRIMER...) */
.btn {
    display: inline-block;
    margin: 0;
}

/* BOUTONS TYPE NEXT-BTN (PAGE DU SITE, LIRE LA SUITE...) */
.btn-site {
    width: 84%;
    margin: 10px auto 40px;
    text-align: center;

    @media (min-width: 576px) and (max-width: 767.98px) {
        margin: 20px auto 15px;
    }
}

.btn-articles,
.btn-blog {
    width: 84%;
    margin: 20px auto 30px;
    text-align: center;

    @media (min-width: 576px) and (max-width: 767.98px) {
        margin: 20px auto 15px;
    }
}

/* BOUTONS RETOUR HAUT DE PAGE */

.cRetour {
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    background: rgba(176, 76, 52, 0.6);
    z-index: 99999;
    transition: all ease-in 0.2s;
    position: fixed;
    cursor: pointer;
    bottom: 5.75em;
    right: 20px;
    display: none;
}

.cRetour:before {
    content: "\25b2";
}

.cRetour:hover {
    background: rgba(176, 76, 52, 1);
    transition: all ease-in 0.2s;
}

/* PARAMETRAGES DIVERS */
h1 {
    text-align: center;
    margin: 0 8%;

    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 2.5rem;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        font-size: 2.2rem;
        margin: 0 12%;
    }

    @media (max-width: 575.98px) {
        font-size: 1.5rem;
    }
}

a {
    text-decoration: none;
}

/* COULEUR DES LIENS */
.link {
    color: blue;
}

hr {
    width: 100%;
    margin: 0;
}

/* ============================== 0. TOUTES LES PAGES ============================== */

/* BLOC DE PAGE DE BASE */
.main-background {
    background-color: $background-color-border-bis;
    padding-bottom: 150px;
    margin-bottom: -145px;
}

.example-wrapper {
    margin: 2em auto;
    width: 84%;
    font: 18px/1.5 sans-serif;

    @media (max-width: 575.98px) {
        margin: 2em 0;
        width: 100%;
    }
}

.example-wrapper-title {
    height: 17.5em;
    margin-top: -2em;
    margin-bottom: 80px;
    padding-top: 5em;
    background: white;
}

.example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
}

@mixin block-shape-light {
    border: 1px solid $background-color-border-bis;
    border-radius: 20px;
    margin: 10px auto;
    padding: 20px;
    position: relative;
}

@mixin block-shape {
    @include block-shape-light;

    li {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 10px;
    }

    li span {
        display: block;
    }

    li span:first-child {
        font-weight: 700;
        font-size: 16px;
        padding-top: 10px;
    }

    li span:nth-child(2) {
        font-weight: 400;
        font-style: italic;
        font-size: 28px;
    }

    li span:nth-child(4) {
        font-weight: 400;
        font-size: 20px;
    }
}

.block-comment {
    border: 1px solid $background-color-border-bis;
    margin: 20px auto 0;
    padding: 20px 20px 10px;
    width: 100%;
}

/* BARRES DE NAVIGATION VERTICALES (AXENTIX */
@mixin sidenav {
    z-index: 999;
}

.sidenav {
    @include sidenav;
}

/* SIDENAV-OVERLAY (DANS AXENTIX.MIN.CSS) :  POUR UN EFFET SUR L'ENSEMBLE DE L'ECRAN QUAND OUVERTURE DE LA SIDENAV */
@mixin sidenav-content ($color) {
    color: white;
    background-color: $color;
}

.sidenav-color-users {
    @include sidenav-content ($color-users);
}

.sidenav-color-visitors {
    @include sidenav-content ($color-visitors);
}

.sidenav-color-home {
    @include sidenav-content ($color-home);
}

.sidenav-color-portfolio {
    @include sidenav-content ($color-portfolio);
}

.sidenav-color-articles {
    @include sidenav-content ($color-articles);
}

.sidenav-color-blog {
    @include sidenav-content ($color-blog);
}

.sidenav-color-about {
    @include sidenav-content ($color-about);
}

.sidenav-color-contact {
    @include sidenav-content ($color-contact);
}

.sidenav-trigger {
    opacity: 0.6;
    transition: 0.5s;

    &:hover {
        opacity: 1;
        transition: 0.5s;
    }
}

/* BOUTONS DE NAVIGATION DES BARRES DE NAVIGATION VERTICALES */
.sidenav-role-icon {
    font-size: 22px;
    margin-left: -8px;
}

.sidenav-icon {
    font-size: 27px;
    margin-left: -8px;
}

@mixin button-sidebar-position {
    position: fixed;
    z-index: 998;
    left: 0.6em;
    border: 1px solid white;
    width: 50px;
    opacity: 0.9;
}

.sidenav-admin {
    @include button-sidebar-position;
    bottom: 0.5em;

    @media (max-width: 575.98px) {
        z-index: 5;
    }
}

.sidenav-contact-length-admin {
    position: fixed;
    z-index: 998;
    border: 1px solid white;
    padding: 0;
    width: 30px;
    height: 30px;
    opacity: 0.9;
    bottom: 1.35em;
    left: 3.6em;
    border-radius: 50%;
    text-align: center;
}

@mixin vertical-responsive {

    @media (max-width: 575.98px) {
        display: none;
    }

    @media (max-height: 750px) {
        display: none;
    }
}

.sidenav-registered {
    @include button-sidebar-position;
    bottom: 0.5em;
}

.sidenav-menu {
    @include button-sidebar-position;
    @include vertical-responsive;
    top: 20em;
}

.sidenav-portfolio {
    @include button-sidebar-position;
    @include vertical-responsive;
    top: 23em;
}

.sidenav-articles {
    @include button-sidebar-position;
    @include vertical-responsive;
    top: 26em;
}

.sidenav-blog {
    @include button-sidebar-position;
    @include vertical-responsive;
    top: 29em;
}

.sidenav-about {
    @include button-sidebar-position;
    @include vertical-responsive;
    top: 32em;
}

.sidenav-contact {
    @include button-sidebar-position;
    @include vertical-responsive;
    top: 35em;
}

/* ICONES DES BOUTONS DES BARRES DE NAVIGATION VERTICALES */
.sidenav-menu-trigger {
    opacity: 0.6;
    transition: 0.5s;
    border: 2px solid white;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    margin: -45px auto 30px;

    &:hover {
        opacity: 1;
        transition: 0.5s;
    }
}

.sidenav-menu-role-icon {
    font-size: 60px;
    margin-top: 6px;
    margin-left: -8px;
}

.sidenav-menu-icon {
    font-size: 75px;
    margin-left: -8px;
}

/* TEXTE TITRE SAUF LA PAGE D'ACCUEIL */
.color-block-video-title {
    height: 640px;
    padding-top: 220px;
    background: $background-color;

    @media (min-width: 576px) and (max-width: 650.98px) {
        height: 730px;
    }

    @media (max-width: 575.98px) {
        height: 585px;
        padding-top: 0;
    }
}

.video-title {
    z-index: 2;
    width: 100%;
    margin: -175px auto;

    @media (max-width: 575.98px) {
        margin: -90px auto;
    }
}

.video-title-text {
    z-index: 4;
    position: relative;
    top: -165px;
    text-shadow: 0 0 2px black;
    border-radius: 20px;
    box-shadow: 100px 50px white, 100px -50px white, -100px -50px white, -100px 50px white;
    width: 630px;
    margin: auto;
    font-size: 140px;
    line-height: 295px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-align: center;
    letter-spacing: -2px;

    @media (min-width: 576px) and (max-width: 767.98px) {
        font-size: 97px;
        letter-spacing: -3px;
        width: 75%;
    }

    @media (max-width: 575.98px) {
        font-size: 105px;
        letter-spacing: -2px;
        width: 100%;
        box-shadow: none;
        top: -240px;
    }

    @media (max-width: 450px) {
        font-size: 82px;
        letter-spacing: -1px;
    }

    @media (max-width: 380px) {
        font-size: 70px;
        letter-spacing: -1px;
    }
}

/* MENU BOUTONS POUR TRI PAGES PORTFOLIO, ARTICLES ET BLOG */
@mixin block-button-menu {
    text-align: center;
    width: 630px;
    margin: -230px auto 90px;

    @media (min-width: 651px) and (max-width: 767.98px) {
        width: 85%;
    }

    @media (max-width: 650.98px) {
        width: 75%;
        margin: -325px auto 90px;
    }

    @media (max-width: 576px) {
        width: 75%;
        margin: -300px auto 90px;
    }

    @media (max-width: 412px) {
        width: 100%;
        margin: -300px auto 90px;
    }
}

/* BARRES DE BOUTONS DE TRI PAR CATEGORIE DES PAGES PORTFOLIO, ARTICLES ET BLOG */

.buttonFilter {
    background: rgb(176, 76, 52);
    text-transform: uppercase;
    color: white;
    padding: 10px;
    margin: 15px;
    width: 130px;
    font-size: 20px;
    overflow: hidden;
    transition: .5s ease-in-out;
    border: $background-color-border-bis;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 8px 8px 4px $background-color-border-bis;

    &:hover {
        box-shadow: 4px 4px 2px $background-color-border-bis;
        transform: scale(0.9);
    }

    &:focus {
        outline: $background-color-border-bis;
    }

    @media (max-width: 575.98px) {
        margin: 10px;
    }
}

.activeButton {
    background: rgb(36, 65, 91);
}

/* ============================== 1. PAGE ACCUEIL ============================== */

.block-home {
    @include block-shape;
    width: 84%;
}

/* TEXTE TITRE */
.text-title {
    width: 100%;
    height: 750px;
    padding-top: 200px;

    @media (max-width: 575.98px) {
        height: 400px;
        padding-top: 0;
        margin: auto;
    }
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);

.pre-title {
    font-family: 'Raleway', sans-serif;
    display: block;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 12%;
}

.title {
    width: 90%;
    margin: auto;
    padding-left: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: transparent;
    font-size: 140px;
    background: url("https://phandroid.s3.amazonaws.com/wp-content/uploads/2014/05/rainbow-nebula.jpg") repeat;
    background-position: 40% 50%;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    text-align: center;
    line-height: 140px;
    letter-spacing: -6px;

    @media (min-width: 992px) and (max-width: 1199.98px) {
        font-size: 140px;
        line-height: 140px;
        letter-spacing: -5px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 107px;
        line-height: 107px;
        letter-spacing: -4px;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        font-size: 76px;
        line-height: 76px;
        letter-spacing: -3px;
    }

    @media (max-width: 575.98px) {
        padding-left: 0;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2px;
    }
}

.post-title {
    font-family: 'Raleway', sans-serif;
    display: block;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 20px;
    text-align: right;
    padding-right: 12%;
}

/* BLOCKS THEMES DE LA PAGE D'ACCUEIL */
@mixin menu-home-for-all ($color) {
    width: 88%;
    min-width: 450px;
    height: 450px;
    margin: auto;
    margin-top: 60px;
    padding: 60px;
    text-align: center;
    border-radius: 20px;
    color: white;
    background-color: $color;
    box-shadow: 0 0 100px -100px white inset;
    transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s;

    &:hover {
        padding: 60px 50px;
        font-size: 1.05em;
        color: black;
        background-color: white;
        box-shadow: 0 480px 100px -100px white inset;
        transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s;
        border: 1px solid $color;
        box-shadow: 0 0 50px $color inset;

        .sidenav-menu-icon {
            color: $color;
        }
    }

    @media (max-width: 575.98px) {
        width: 100%;
        min-width: 88%;
        height: 100%;
    }
}

.block-menu-home {
    @include menu-home-for-all ($color-home);
}

.block-menu-portfolio {
    @include menu-home-for-all ($color-portfolio);
}

.block-menu-articles {
    @include menu-home-for-all ($color-articles);
}

.block-menu-blog {
    @include menu-home-for-all ($color-blog);
}

.block-menu-about {
    @include menu-home-for-all ($color-about);
}

.block-menu-contact {
    @include menu-home-for-all ($color-contact);

    @media (min-width: 768px) and (max-width: 991.98px) {
        margin-bottom: 60px;
    }
}

.page-summary {
    font-size: 0.6em;
}

/* ============================== 2. PAGE PORTFOLIO ============================== */

.block-portfolio-light {
    @include block-shape;
    width: 84%;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 81.25%;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        width: 75%;
    }

    @media (max-width: 575.98px) {
        width: 97.2%;
    }
}

.block-portfolio-button-menu {
    @include block-button-menu;
}

@mixin block-portfolio {
    @include block-shape;
    border-radius: 0;
    z-index: 0;
    text-shadow: 0 0 2px white;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover a {
        opacity: 0;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }

    li iframe,
    img {
        width: 100%;
        height: 100%;
        border-radius: 0;
        position: absolute;
        z-index: 1;
        left: 0px;
        top: 0px;
        opacity: 0;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }
}

.block-portfolio-index {
    @include block-portfolio;
    width: 100%;
    height: 340px;
}

.block-portfolio-index li:hover img {
    left: 0px;
    top: 0px;
    opacity: 1;
}

.individual-block-portfolio-index {
    border: 1px solid $background-color-border-bis;
    background: $background-color;
    border-radius: 20px;
    padding: 10px 20px;
    position: relative;
    width: 100%;
    height: 452px;
    margin: auto;
    margin-bottom: 50px;

    @media (min-width: 960px) and (max-width: 1199.98px) {
        height: 482px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 96.5%;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        width: 89%;
    }

    @media (max-width: 575.98px) {
        width: 97.2%;
        height: 482px;
    }
}

.block-portfolio-show {
    @include block-portfolio;
    width: 100%;
    min-height: 680px;
    margin-top: 0;
    margin-bottom: -100px;
}

.block-portfolio-show li:hover iframe {
    left: 0px;
    top: 0px;
    opacity: 1;
}

// ZONE DE TEXTE AVEC DATE, TITRE ET CATEGORIE
.block-portfolio-insert {
    padding: 0 20px 10px;
    text-align: center;
    margin: auto;
    border: 1px solid $background-color-border-bis;
    border-radius: 20px;
    box-shadow: 4px 4px 2px black;
    background: $background-color;
}

.block-portfolio-insert-show {
    padding: 0 20px 10px;
    text-align: left;
    margin: 2%;
    margin-bottom: 70px;
    border: 1px solid $background-color-border-bis;
    border-radius: 20px;
    box-shadow: 4px 4px 2px black;
    background: $background-color;
    max-width: 710px;
    float: right;
}

/* ============================== 3. PAGE ARTICLES ============================== */

.block-articles {
    @include block-shape;
    width: 84%;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 81.25%;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        width: 75%;
    }

    @media (max-width: 575.98px) {
        width: 97.2%;
    }
}

.block-articles-button-menu {
    @include block-button-menu;
}

.block-articles-index {
    @include block-portfolio;
    width: 100%;
    height: 340px;

    @media (max-width: 767.98px) {
        height: 100%;
    }
}

.individual-block-articles-index {
    border: 1px solid $background-color-border-bis;
    background: $background-color;
    border-radius: 20px;
    padding: 10px 20px;
    position: relative;
    width: 100%;
    height: 457px;
    margin: auto;
    margin-bottom: 50px;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 96.5%;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        width: 89%;
        height: 100%;
    }

    @media (max-width: 575.98px) {
        height: 100%;
    }
}

/* ============================== 4. PAGE BLOG ============================== */

.block-blog {
    @include block-shape;
    width: 84%;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 81.25%;
        margin: 80px auto;
    }
}

.block-blog-button-menu {
    @include block-button-menu;
}

.block-blog-index {
    @include block-portfolio;
    width: 100%;
    height: 250px;

    @media (max-width: 767.98px) {
        height: 100%;
    }
}

.individual-block-blog-index {
    border: 1px solid $background-color-border-bis;
    background: $background-color;
    border-radius: 20px;
    padding: 10px 20px;
    position: relative;
    width: 100%;
    height: 367px;
    margin: auto;
    margin-bottom: 50px;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 96.5%;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        width: 89%;
        height: 100%;
    }

    @media (max-width: 575.98px) {
        width: 85%;
        height: 100%;
        margin: auto;
        margin-top: 100px;
    }
}

/* ============================== 5. PAGE A PROPOS ============================== */

// BLOCK A PROPOS

.about-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: url('#goo');
    margin-top: -190px;
    padding-bottom: 63px;
}

.button {
    z-index: 99;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 40px;
    background: linear-gradient(50deg, rgb(36, 65, 91), rgb(176, 76, 52));
    border-radius: 20px;
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
}

.more-about {
    margin: 10px;
    padding-bottom: 5px;
}

.social {
    opacity: 0;
    position: relative;
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    text-align: center;

    i {
        margin-top: 10px;
    }

    a {
        color: #FFF;
    }
}

.github {
    background: #24292e;
    padding-left: 1px;
}

.linkedin {
    background: #0077b5;
    padding-left: 1px;
}

.cvsite {
    background: rgb(36, 65, 91);
    padding-left: 1px;
}

.email {
    background: rgb(176, 76, 52);
    padding-top: 7px;
    padding-left: 9.5px;
}

.clicked {
    opacity: 1;
    transition: 1.2s all ease;
    transform: translateY(56px);
}

/* ============================== 6. PAGE CONTACT ============================== */

.block-contact {
    @include block-shape-light;
    max-width: 1054px;
    width: 84%;
    margin: 0 auto;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 81.25%;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        width: 75%;
    }

    @media (max-width: 575.98px) {
        width: 93%;
    }
}

.block-contact-menu {
    text-align: center;
    width: 100%;
    margin: -110px auto 115px;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 84%;
        margin: -190px auto 115px;
    }

    @media (max-width: 575.98px) {
        margin: -136px auto 40px;
    }
}

.block-manage-contact {
    border: 1px solid $background-color-border-bis;
    margin: 0;
    padding: 20px;
}

.individual-block-contact-index,
.individual-block-profile-index,
.individual-block-edit-index {
    @include block-shape-light;
    background: $background-color;
    width: 50%;
    min-width: 400px;

    li {
        list-style: none;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 97%;
        margin: 80px auto;
    }

    @media (max-width: 575.98px) {
        width: 93%;
    }
}

// BLOCK CONTACT

.contact-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: url('#goo');
    margin-top: -190px;
    padding-bottom: 63px;
}

.contactbutton {
    z-index: 99;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 40px;
    background: linear-gradient(50deg, rgb(36, 65, 91), rgb(176, 76, 52));
    border-radius: 20px;
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
}

.more-about {
    margin: 10px;
    padding-bottom: 5px;
}

.contactsocial1 {
    opacity: 0;
    position: relative;
    margin: 8px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    padding-top: 6px;

    i {
        margin-top: 10px;
    }

    a {
        color: #FFF;
    }
}

.contactsocial2 {
    opacity: 0;
    position: relative;
    margin: 8px;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    padding-top: 6px;

    i {
        margin-top: 10px;
    }

    a {
        color: #FFF;
    }
}

.mail {
    background: rgb(36, 65, 91);
    padding-left: 1px;
}

.phone {
    background: rgb(176, 76, 52);
    padding-left: 1px;
}

.clicked {
    opacity: 1;
    transition: 1.2s all ease;
    transform: translateY(56px);
}

/* ============================== 7. PAGE CATEGORIES ============================== */

.block-categories {
    @include block-shape-light;
    width: 25%;
    min-width: 450px;

    @media (max-width: 575.98px) {
        width: 97%;
        max-width: 450px;
        min-width: 250px;
    }
}

/* ============================== 8. PAGES USERS ============================== */

.block-users {
    @include block-shape-light;
    width: 50%;
    min-width: 450px;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 81.25%;
        margin-bottom: 80px;
    }

    @media (max-width: 575.98px) {
        width: 93%;
        min-width: 250px;
    }
}

.block-login,
.block-register,
.block-profile {
    @include block-shape-light;
    width: 50%;
    min-width: 450px;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 81.25%;
        margin: 80px auto;
    }

    @media (max-width: 575.98px) {
        width: 93%;
        min-width: 250px;
    }
}

.block-manage {
    @include block-shape-light;
    width: 50%;
    min-width: 450px;

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 81.25%;
        margin: 80px auto;
    }

    @media (max-width: 575.98px) {
        width: 93%;
        min-width: 250px;
    }
}

.block-manage-bis {
    border: 1px solid $background-color-border-bis;
    margin: 0;
    padding: 20px;
}

/* MIXIN DES BOUTONS SPECIFIQUES */

@mixin specific-button {
    border: 1px solid $background-color-border-bis;
    width: 100%;
    padding: 5px;
    color: white;
}

/* BOUTONS MDP OUBLIE ET CREER UN COMPTE DE LA PAGE CONNEXION */

.btn-login-forgot-password {
    @include specific-button;
    background: rgb(176, 76, 52);
}

.btn-login-create-account {
    @include specific-button;
    background: rgb(36, 65, 91);
    margin-top: 20px;
}

/* BOUTON MODIFIER DE LA PAGE UPDATE */

.btn-update-add {
    @include specific-button;
    background: rgb(36, 65, 91);
}

.btn-update-edit {
    @include specific-button;
    background: rgb(36, 65, 91);
}

/* BOUTON SUPPRIMER ET TEXTES DES PAGES PROFILE ET MANAGE USERS */

.block-manage-users,
.block-profile-users,
.block-edit-users {
    border: 1px solid $background-color-border-bis;
    margin: 0;
    padding: 20px;
}

.btn-users-edit {
    @include specific-button;
    background: rgb(36, 65, 91);
    margin-top: 10px;
}

.btn-users-delete {
    @include specific-button;
    background: rgb(176, 76, 52);
    margin-top: 10px;
}

.avatar-position {
    float: right;
}

/* BOUTONS MODIFIER LE PROFIL ET MODIFIER LE MOT DE PASSE DE LA PAGE PROFIL USERS */

.btn-profile-edit {
    @include specific-button;
    background: rgb(176, 76, 52);
    margin-top: 10px;
}

.btn-password-edit {
    @include specific-button;
    background: rgb(36, 65, 91);
    margin-top: 20px;
}

/* CHECK-BOX ET BOUTONS MODIFIER L'ARTICLE... ET SUPPRIMER L'ARTICLE... DES PAGES MANAGE */

.check-box-line {
    float: right;
}

.btn-manage-edit {
    @include specific-button;
    background: rgb(36, 65, 91);
    margin-top: 20px;
}

.btn-manage-delete {
    @include specific-button;
    background: rgb(176, 76, 52);
    margin-top: 20px;
}

/* ============================== 9. MAJ ============================== */

.update-date {
    font-weight: 700;
    float: right;
}

/* ============================== x. FOOTER ============================== */

.block-legal-notice {
    @include block-shape-light;
    max-width: 1054px;
    width: 76%;

    @media (max-width: 575.98px) {
        width: 84%;
    }

    h2 {
        margin: 10px 0;
        font-size: 1.2em;
    }

    h3 {
        margin: 10px 0;
        font-size: 1em;
        text-decoration: underline;
        font-weight: normal;
    }

    p {
        line-height: 1em;
        margin: 0;
    }

    ul {
        margin: 0.5em 0;
    }
}