/* DOCUMENT INFORMATION
    - Document: Site Vincent NGUYEN
    - Version : 1.0.1 du 01/08/2020
    - Auteur: Vincent NGUYEN- 01/08/2020

/* Z-INDEX
style.scss :
    - .block-portfolio                      z-index: 0
    - .block-portfolio li iframe            z-index: 1
    - .video-title                          z-index: 2
    - .video-title-text                     z-index: 4
    - @mixin button-sidebar-position        z-index: 998 (display: none en responsive mobile)
    - sidenav-contact-length-admin          z-index: 998 (z-index: 5 en responsive)
    - @mixin sidenav                        z-index: 999
nasbar.scss :
    - .navtoogle i                          z-index: -1
    - #menu                                 z-index: 6
nextbutton.scss :
    - .wrapper-link-site                    z-index: 99

/* COLORS
    - default body text     black
    - h1                    black
    - h2                    black
    - h3                    black
    - h4                    black
    - block menu            white & black if hover
    - icon                  white 
    - button                white & green for background-color  
    - users                 $color-users   
    - visitors              $color-visitors 
    - home                  $color-home 
    - users                 $color-users 
    - articles              $color-articles 
    - blog                  $color-blog 
    - about                 $color-about 
    - contact               $color-contact    

/* FONTS
    - Default:              ''

/* CSS DIRECTORY
    0. GLOBAL
    0. TOUTES LES PAGES
    1. PAGE ACCUEIL
    2. PAGE PORTFOLIO
    3. PAGE ARTICLES
    4. PAGE BLOG
    5. PAGE A PROPOS
    6. PAGE CONTACT
    7. PAGE CATEGORIES
    8. PAGE USERS
    9. PAGE MAJ
    X. FOOTER

/* ============================== 0. GLOBAL ============================== */
/* RESPONSIVE */
/* COULEURS */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
.users-color {
  background-color: white;
}

.visitors-color {
  background-color: white;
}

.home-color {
  background-color: white;
}

.portfolio-color {
  background-color: white;
}

.articles-color {
  background-color: white;
}

.blog-color {
  background-color: white;
}

.about-color {
  background-color: white;
}

.contact-color {
  background-color: white;
}

body {
  width: 100%;
  background-color: white;
  font-weight: 400;
  font-size: 15px;
  color: #3a2127;
  overflow-y: scroll;
}

/* FORMULAIRES */
.background-form {
  background: #ebebeb;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
  padding: 4px;
}

.categories-form {
  background: #ebebeb;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
  padding: 4px;
}

.email-form {
  background: #ebebeb;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
  padding: 4px;
}

.firstname-form {
  background: #ebebeb;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
  padding: 4px;
}

.image-form {
  background: #ebebeb;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
  padding: 4px;
}

.name-form {
  background: #ebebeb;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
  padding: 4px;
}

.password-form {
  background: #ebebeb;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
  padding: 4px;
}

.password-form-password-edit {
  background: #ebebeb;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
  padding: 4px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.phone-form {
  background: #ebebeb;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
  padding: 4px;
}

.photo-form-edit {
  background: #ebebeb;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
  padding: 4px;
  width: 100%;
}

.photo-form {
  background: #ebebeb;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
  padding: 4px;
  width: 100px;
}

.post-form {
  background: #ebebeb;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
  padding: 4px;
}

.society-form {
  background: #ebebeb;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
  padding: 4px;
}

.subject-form {
  background: #ebebeb;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
  padding: 4px;
}

.title-form {
  background: #ebebeb;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
  padding: 4px;
}

/* BOUTONS "VALIDER" DES FORMULAIRES */
.btn-submit-form {
  background: green;
  color: white;
  border: 1px solid #e1e1e1;
  width: 100%;
  margin-top: 20px;
  padding: 5px;
}

.btn-submit-form-password-edit {
  background: green;
  color: white;
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 5px;
  margin-top: 12px;
}

.btn-submit-form-profil-edit {
  background: green;
  color: white;
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

/* BOUTONS GENERAUX (MODIFIER, GERER, SUPPRIMER...) */
.btn {
  display: inline-block;
  margin: 0;
}

/* BOUTONS TYPE NEXT-BTN (PAGE DU SITE, LIRE LA SUITE...) */
.btn-site {
  width: 84%;
  margin: 10px auto 40px;
  text-align: center;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .btn-site {
    margin: 20px auto 15px;
  }
}

.btn-articles,
.btn-blog {
  width: 84%;
  margin: 20px auto 30px;
  text-align: center;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .btn-articles,
  .btn-blog {
    margin: 20px auto 15px;
  }
}

/* BOUTONS RETOUR HAUT DE PAGE */
.cRetour {
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: rgba(176, 76, 52, 0.6);
  z-index: 99999;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  position: fixed;
  cursor: pointer;
  bottom: 5.75em;
  right: 20px;
  display: none;
}

.cRetour:before {
  content: "\25b2";
}

.cRetour:hover {
  background: #b04c34;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

/* PARAMETRAGES DIVERS */
h1 {
  text-align: center;
  margin: 0 8%;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 2.2rem;
    margin: 0 12%;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 1.5rem;
  }
}

a {
  text-decoration: none;
}

/* COULEUR DES LIENS */
.link {
  color: blue;
}

hr {
  width: 100%;
  margin: 0;
}

/* ============================== 0. TOUTES LES PAGES ============================== */
/* BLOC DE PAGE DE BASE */
.main-background {
  background-color: #e1e1e1;
  padding-bottom: 150px;
  margin-bottom: -145px;
}

.example-wrapper {
  margin: 2em auto;
  width: 84%;
  font: 18px/1.5 sans-serif;
}

@media (max-width: 575.98px) {
  .example-wrapper {
    margin: 2em 0;
    width: 100%;
  }
}

.example-wrapper-title {
  height: 17.5em;
  margin-top: -2em;
  margin-bottom: 80px;
  padding-top: 5em;
  background: white;
}

.example-wrapper code {
  background: #F5F5F5;
  padding: 2px 6px;
}

.block-comment {
  border: 1px solid #e1e1e1;
  margin: 20px auto 0;
  padding: 20px 20px 10px;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .block-comment {
    width: 99%;
  }
}

/* BARRES DE NAVIGATION VERTICALES (AXENTIX */
.sidenav {
  z-index: 999;
}

/* SIDENAV-OVERLAY (DANS AXENTIX.MIN.CSS) :  POUR UN EFFET SUR L'ENSEMBLE DE L'ECRAN QUAND OUVERTURE DE LA SIDENAV */
.sidenav-color-users {
  color: white;
  background-color: green;
}

.sidenav-color-visitors {
  color: white;
  background-color: red;
}

.sidenav-color-home {
  color: white;
  background-color: #f29220;
}

.sidenav-color-portfolio {
  color: white;
  background-color: #f29220;
}

.sidenav-color-articles {
  color: white;
  background-color: #2a9ad4;
}

.sidenav-color-blog {
  color: white;
  background-color: #116bab;
}

.sidenav-color-about {
  color: white;
  background-color: #253f4e;
}

.sidenav-color-contact {
  color: white;
  background-color: #152530;
}

.sidenav-trigger {
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav-trigger:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* BOUTONS DE NAVIGATION DES BARRES DE NAVIGATION VERTICALES */
.sidenav-role-icon {
  font-size: 22px;
  margin-left: -8px;
}

.sidenav-icon {
  font-size: 27px;
  margin-left: -8px;
}

.sidenav-admin {
  position: fixed;
  z-index: 998;
  bottom: 0.5em;
  left: 0.6em;
  border: 1px solid white;
  width: 50px;
  opacity: 0.6;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sidenav-admin {
    opacity: 0.9;
  }
}

@media (max-width: 575.98px) {
  .sidenav-admin {
    top: 2.75em;
    z-index: 5;
  }
}

.sidenav-contact-length-admin {
  position: fixed;
  z-index: 998;
  border: 1px solid white;
  padding: 0;
  width: 30px;
  height: 30px;
  opacity: 0.9;
  bottom: 1.35em;
  left: 3.6em;
  border-radius: 50%;
  text-align: center;
}

@media (max-width: 575.98px) {
  .sidenav-contact-length-admin {
    top: 2.75em;
    z-index: 5;
  }
}

.sidenav-registered {
  position: fixed;
  z-index: 998;
  left: 0.6em;
  border: 1px solid white;
  width: 50px;
  opacity: 0.6;
  bottom: 0.5em;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sidenav-registered {
    opacity: 0.9;
  }
}

.sidenav-menu {
  position: fixed;
  z-index: 998;
  left: 0.6em;
  border: 1px solid white;
  width: 50px;
  opacity: 0.6;
  top: 20em;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sidenav-menu {
    opacity: 0.9;
  }
}

@media (max-width: 575.98px) {
  .sidenav-menu {
    display: none;
  }
}

@media (max-height: 750px) {
  .sidenav-menu {
    display: none;
  }
}

.sidenav-portfolio {
  position: fixed;
  z-index: 998;
  left: 0.6em;
  border: 1px solid white;
  width: 50px;
  opacity: 0.6;
  top: 23em;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sidenav-portfolio {
    opacity: 0.9;
  }
}

@media (max-width: 575.98px) {
  .sidenav-portfolio {
    display: none;
  }
}

@media (max-height: 750px) {
  .sidenav-portfolio {
    display: none;
  }
}

.sidenav-articles {
  position: fixed;
  z-index: 998;
  left: 0.6em;
  border: 1px solid white;
  width: 50px;
  opacity: 0.6;
  top: 26em;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sidenav-articles {
    opacity: 0.9;
  }
}

@media (max-width: 575.98px) {
  .sidenav-articles {
    display: none;
  }
}

@media (max-height: 750px) {
  .sidenav-articles {
    display: none;
  }
}

.sidenav-blog {
  position: fixed;
  z-index: 998;
  left: 0.6em;
  border: 1px solid white;
  width: 50px;
  opacity: 0.6;
  top: 29em;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sidenav-blog {
    opacity: 0.9;
  }
}

@media (max-width: 575.98px) {
  .sidenav-blog {
    display: none;
  }
}

@media (max-height: 750px) {
  .sidenav-blog {
    display: none;
  }
}

.sidenav-about {
  position: fixed;
  z-index: 998;
  left: 0.6em;
  border: 1px solid white;
  width: 50px;
  opacity: 0.6;
  top: 32em;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sidenav-about {
    opacity: 0.9;
  }
}

@media (max-width: 575.98px) {
  .sidenav-about {
    display: none;
  }
}

@media (max-height: 750px) {
  .sidenav-about {
    display: none;
  }
}

.sidenav-contact {
  position: fixed;
  z-index: 998;
  left: 0.6em;
  border: 1px solid white;
  width: 50px;
  opacity: 0.6;
  top: 35em;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sidenav-contact {
    opacity: 0.9;
  }
}

@media (max-width: 575.98px) {
  .sidenav-contact {
    display: none;
  }
}

@media (max-height: 750px) {
  .sidenav-contact {
    display: none;
  }
}

/* ICONES DES BOUTONS DES BARRES DE NAVIGATION VERTICALES */
.sidenav-menu-trigger {
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid white;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  margin: -45px auto 30px;
}

.sidenav-menu-trigger:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav-menu-role-icon {
  font-size: 60px;
  margin-top: 6px;
  margin-left: -8px;
}

.sidenav-menu-icon {
  font-size: 75px;
  margin-left: -8px;
}

/* TEXTE TITRE SAUF LA PAGE D'ACCUEIL */
.color-block-video-title {
  height: 640px;
  padding-top: 220px;
  background: white;
}

@media (min-width: 590px) and (max-width: 650.98px) {
  .color-block-video-title {
    height: 730px;
  }
}

@media (max-width: 589.98px) {
  .color-block-video-title {
    height: 730px;
  }
}

@media (max-width: 576px) {
  .color-block-video-title {
    height: 585px;
    padding-top: 0;
  }
}

.video-title {
  z-index: 2;
  width: 100%;
  margin: -175px auto;
}

@media (max-width: 575.98px) {
  .video-title {
    margin: -90px auto;
  }
}

.video-title-text {
  z-index: 4;
  position: relative;
  top: -165px;
  text-shadow: 0 0 2px black;
  border-radius: 20px;
  -webkit-box-shadow: 100px 50px white, 100px -50px white, -100px -50px white, -100px 50px white;
          box-shadow: 100px 50px white, 100px -50px white, -100px -50px white, -100px 50px white;
  width: 630px;
  margin: auto;
  font-size: 140px;
  line-height: 295px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-align: center;
  letter-spacing: -2px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .video-title-text {
    font-size: 97px;
    letter-spacing: -3px;
    width: 75%;
  }
}

@media (max-width: 575.98px) {
  .video-title-text {
    font-size: 105px;
    letter-spacing: -2px;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    top: -240px;
  }
}

@media (max-width: 450px) {
  .video-title-text {
    font-size: 82px;
    letter-spacing: -1px;
  }
}

@media (max-width: 380px) {
  .video-title-text {
    font-size: 70px;
    letter-spacing: -1px;
  }
}

/* MENU BOUTONS POUR TRI PAGES PORTFOLIO, ARTICLES ET BLOG */
/* BARRES DE BOUTONS DE TRI PAR CATEGORIE DES PAGES PORTFOLIO, ARTICLES ET BLOG */
.buttonFilter {
  background: #b04c34;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  margin: 15px;
  width: 130px;
  font-size: 20px;
  overflow: hidden;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  border: #e1e1e1;
  border-radius: 20px;
  z-index: 1;
  -webkit-box-shadow: 8px 8px 4px #e1e1e1;
          box-shadow: 8px 8px 4px #e1e1e1;
}

.buttonFilter:hover {
  -webkit-box-shadow: 4px 4px 2px #e1e1e1;
          box-shadow: 4px 4px 2px #e1e1e1;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.buttonFilter:focus {
  outline: #e1e1e1;
}

@media (max-width: 575.98px) {
  .buttonFilter {
    margin: 10px;
  }
}

.activeButton {
  background: #24415b;
}

/* ============================== 1. PAGE ACCUEIL ============================== */
.block-home {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  width: 84%;
}

.block-home li {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.block-home li span {
  display: block;
}

.block-home li span:first-child {
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
}

.block-home li span:nth-child(2) {
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
}

.block-home li span:nth-child(4) {
  font-weight: 400;
  font-size: 20px;
}

/* TEXTE TITRE */
.text-title {
  width: 100%;
  height: 750px;
  padding-top: 200px;
}

@media (max-width: 575.98px) {
  .text-title {
    height: 400px;
    padding-top: 0;
    margin: auto;
  }
}

.pre-title {
  font-family: 'Raleway', sans-serif;
  display: block;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 12%;
}

.title {
  width: 90%;
  margin: auto;
  padding-left: 60px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: transparent;
  font-size: 140px;
  background: url("https://phandroid.s3.amazonaws.com/wp-content/uploads/2014/05/rainbow-nebula.jpg") repeat;
  background-position: 40% 50%;
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
  text-align: center;
  line-height: 140px;
  letter-spacing: -6px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .title {
    font-size: 140px;
    line-height: 140px;
    letter-spacing: -5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .title {
    font-size: 107px;
    line-height: 107px;
    letter-spacing: -4px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .title {
    font-size: 76px;
    line-height: 76px;
    letter-spacing: -3px;
  }
}

@media (max-width: 575.98px) {
  .title {
    padding-left: 0;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2px;
  }
}

.post-title {
  font-family: 'Raleway', sans-serif;
  display: block;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  padding-top: 20px;
  text-align: right;
  padding-right: 12%;
}

/* BLOCKS THEMES DE LA PAGE D'ACCUEIL */
.block-menu-home {
  width: 88%;
  min-width: 450px;
  height: 450px;
  margin: auto;
  margin-top: 60px;
  padding: 60px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #f29220;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
}

.block-menu-home:hover {
  padding: 60px 50px;
  font-size: 1.05em;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 480px 100px -100px white inset;
          box-shadow: 0 480px 100px -100px white inset;
  -webkit-transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  border: 1px solid #f29220;
  -webkit-box-shadow: 0 0 50px #f29220 inset;
          box-shadow: 0 0 50px #f29220 inset;
}

.block-menu-home:hover .sidenav-menu-icon {
  color: #f29220;
}

@media (max-width: 575.98px) {
  .block-menu-home {
    width: 100%;
    min-width: 88%;
    height: 100%;
  }
}

.block-menu-portfolio {
  width: 88%;
  min-width: 450px;
  height: 450px;
  margin: auto;
  margin-top: 60px;
  padding: 60px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #f29220;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
}

.block-menu-portfolio:hover {
  padding: 60px 50px;
  font-size: 1.05em;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 480px 100px -100px white inset;
          box-shadow: 0 480px 100px -100px white inset;
  -webkit-transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  border: 1px solid #f29220;
  -webkit-box-shadow: 0 0 50px #f29220 inset;
          box-shadow: 0 0 50px #f29220 inset;
}

.block-menu-portfolio:hover .sidenav-menu-icon {
  color: #f29220;
}

@media (max-width: 575.98px) {
  .block-menu-portfolio {
    width: 100%;
    min-width: 88%;
    height: 100%;
  }
}

.block-menu-articles {
  width: 88%;
  min-width: 450px;
  height: 450px;
  margin: auto;
  margin-top: 60px;
  padding: 60px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #2a9ad4;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
}

.block-menu-articles:hover {
  padding: 60px 50px;
  font-size: 1.05em;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 480px 100px -100px white inset;
          box-shadow: 0 480px 100px -100px white inset;
  -webkit-transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  border: 1px solid #2a9ad4;
  -webkit-box-shadow: 0 0 50px #2a9ad4 inset;
          box-shadow: 0 0 50px #2a9ad4 inset;
}

.block-menu-articles:hover .sidenav-menu-icon {
  color: #2a9ad4;
}

@media (max-width: 575.98px) {
  .block-menu-articles {
    width: 100%;
    min-width: 88%;
    height: 100%;
  }
}

.block-menu-blog {
  width: 88%;
  min-width: 450px;
  height: 450px;
  margin: auto;
  margin-top: 60px;
  padding: 60px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #116bab;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
}

.block-menu-blog:hover {
  padding: 60px 50px;
  font-size: 1.05em;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 480px 100px -100px white inset;
          box-shadow: 0 480px 100px -100px white inset;
  -webkit-transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  border: 1px solid #116bab;
  -webkit-box-shadow: 0 0 50px #116bab inset;
          box-shadow: 0 0 50px #116bab inset;
}

.block-menu-blog:hover .sidenav-menu-icon {
  color: #116bab;
}

@media (max-width: 575.98px) {
  .block-menu-blog {
    width: 100%;
    min-width: 88%;
    height: 100%;
  }
}

.block-menu-about {
  width: 88%;
  min-width: 450px;
  height: 450px;
  margin: auto;
  margin-top: 60px;
  padding: 60px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #253f4e;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
}

.block-menu-about:hover {
  padding: 60px 50px;
  font-size: 1.05em;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 480px 100px -100px white inset;
          box-shadow: 0 480px 100px -100px white inset;
  -webkit-transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  border: 1px solid #253f4e;
  -webkit-box-shadow: 0 0 50px #253f4e inset;
          box-shadow: 0 0 50px #253f4e inset;
}

.block-menu-about:hover .sidenav-menu-icon {
  color: #253f4e;
}

@media (max-width: 575.98px) {
  .block-menu-about {
    width: 100%;
    min-width: 88%;
    height: 100%;
  }
}

.block-menu-contact {
  width: 88%;
  min-width: 450px;
  height: 450px;
  margin: auto;
  margin-top: 60px;
  padding: 60px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #152530;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
}

.block-menu-contact:hover {
  padding: 60px 50px;
  font-size: 1.05em;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 480px 100px -100px white inset;
          box-shadow: 0 480px 100px -100px white inset;
  -webkit-transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, font-size 0.5s, color 0.5s, padding 0.5s, -webkit-box-shadow 0.5s;
  border: 1px solid #152530;
  -webkit-box-shadow: 0 0 50px #152530 inset;
          box-shadow: 0 0 50px #152530 inset;
}

.block-menu-contact:hover .sidenav-menu-icon {
  color: #152530;
}

@media (max-width: 575.98px) {
  .block-menu-contact {
    width: 100%;
    min-width: 88%;
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .block-menu-contact {
    margin-bottom: 60px;
  }
}

.page-summary {
  font-size: 0.6em;
}

/* ============================== 2. PAGE PORTFOLIO ============================== */
.block-portfolio-light {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  width: 84%;
}

.block-portfolio-light li {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.block-portfolio-light li span {
  display: block;
}

.block-portfolio-light li span:first-child {
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
}

.block-portfolio-light li span:nth-child(2) {
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
}

.block-portfolio-light li span:nth-child(4) {
  font-weight: 400;
  font-size: 20px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .block-portfolio-light {
    width: 81.25%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .block-portfolio-light {
    width: 75%;
  }
}

@media (max-width: 575.98px) {
  .block-portfolio-light {
    width: 97.2%;
  }
}

.block-portfolio-button-menu {
  text-align: center;
  width: 630px;
  margin: -230px auto 90px;
}

@media (min-width: 651px) and (max-width: 767.98px) {
  .block-portfolio-button-menu {
    width: 85%;
  }
}

@media (min-width: 590px) and (max-width: 650.98px) {
  .block-portfolio-button-menu {
    width: 75%;
    margin: -325px auto 90px;
  }
}

@media (max-width: 589.98px) {
  .block-portfolio-button-menu {
    width: 75%;
    margin: -325px auto 90px;
  }
}

@media (max-width: 576px) {
  .block-portfolio-button-menu {
    width: 75%;
    margin: -300px auto 90px;
  }
}

@media (max-width: 412px) {
  .block-portfolio-button-menu {
    width: 100%;
    margin: -300px auto 90px;
  }
}

.block-portfolio-index {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  border-radius: 0;
  z-index: 0;
  text-shadow: 0 0 2px white;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 340px;
}

.block-portfolio-index li {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.block-portfolio-index li span {
  display: block;
}

.block-portfolio-index li span:first-child {
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
}

.block-portfolio-index li span:nth-child(2) {
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
}

.block-portfolio-index li span:nth-child(4) {
  font-weight: 400;
  font-size: 20px;
}

.block-portfolio-index:hover a {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.block-portfolio-index li iframe,
.block-portfolio-index img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.block-portfolio-index li:hover img {
  left: 0px;
  top: 0px;
  opacity: 1;
}

.individual-block-portfolio-index {
  border: 1px solid #e1e1e1;
  background: white;
  border-radius: 20px;
  padding: 10px 20px;
  position: relative;
  width: 100%;
  height: 452px;
  margin: auto;
  margin-bottom: 50px;
}

@media (min-width: 960px) and (max-width: 1199.98px) {
  .individual-block-portfolio-index {
    height: 482px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .individual-block-portfolio-index {
    width: 96.5%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .individual-block-portfolio-index {
    width: 89%;
  }
}

@media (max-width: 575.98px) {
  .individual-block-portfolio-index {
    width: 97.2%;
    height: 482px;
  }
}

.block-portfolio-show {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  border-radius: 0;
  z-index: 0;
  text-shadow: 0 0 2px white;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 680px;
  margin-top: 0;
  margin-bottom: -100px;
}

.block-portfolio-show li {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.block-portfolio-show li span {
  display: block;
}

.block-portfolio-show li span:first-child {
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
}

.block-portfolio-show li span:nth-child(2) {
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
}

.block-portfolio-show li span:nth-child(4) {
  font-weight: 400;
  font-size: 20px;
}

.block-portfolio-show:hover a {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.block-portfolio-show li iframe,
.block-portfolio-show img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.block-portfolio-show li:hover iframe {
  left: 0px;
  top: 0px;
  opacity: 1;
}

.block-portfolio-insert {
  padding: 0 20px 10px;
  text-align: center;
  margin: auto;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 2px black;
          box-shadow: 4px 4px 2px black;
  background: white;
}

.block-portfolio-insert-show {
  padding: 0 20px 10px;
  text-align: left;
  margin: 2%;
  margin-bottom: 70px;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 2px black;
          box-shadow: 4px 4px 2px black;
  background: white;
  max-width: 710px;
  float: right;
}

/* ============================== 3. PAGE ARTICLES ============================== */
.block-articles {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  width: 84%;
}

.block-articles li {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.block-articles li span {
  display: block;
}

.block-articles li span:first-child {
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
}

.block-articles li span:nth-child(2) {
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
}

.block-articles li span:nth-child(4) {
  font-weight: 400;
  font-size: 20px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .block-articles {
    width: 81.25%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .block-articles {
    width: 75%;
  }
}

@media (max-width: 575.98px) {
  .block-articles {
    width: 97.2%;
  }
}

.block-articles-button-menu {
  text-align: center;
  width: 630px;
  margin: -230px auto 90px;
}

@media (min-width: 651px) and (max-width: 767.98px) {
  .block-articles-button-menu {
    width: 85%;
  }
}

@media (min-width: 590px) and (max-width: 650.98px) {
  .block-articles-button-menu {
    width: 75%;
    margin: -325px auto 90px;
  }
}

@media (max-width: 589.98px) {
  .block-articles-button-menu {
    width: 75%;
    margin: -325px auto 90px;
  }
}

@media (max-width: 576px) {
  .block-articles-button-menu {
    width: 75%;
    margin: -300px auto 90px;
  }
}

@media (max-width: 412px) {
  .block-articles-button-menu {
    width: 100%;
    margin: -300px auto 90px;
  }
}

.block-articles-index {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  border-radius: 0;
  z-index: 0;
  text-shadow: 0 0 2px white;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 340px;
}

.block-articles-index li {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.block-articles-index li span {
  display: block;
}

.block-articles-index li span:first-child {
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
}

.block-articles-index li span:nth-child(2) {
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
}

.block-articles-index li span:nth-child(4) {
  font-weight: 400;
  font-size: 20px;
}

.block-articles-index:hover a {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.block-articles-index li iframe,
.block-articles-index img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .block-articles-index {
    height: 100%;
  }
}

@media (max-width: 575.98px) {
  .block-articles-index {
    height: 100%;
  }
}

.individual-block-articles-index {
  border: 1px solid #e1e1e1;
  background: white;
  border-radius: 20px;
  padding: 10px 20px;
  position: relative;
  width: 100%;
  height: 457px;
  margin: auto;
  margin-bottom: 50px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .individual-block-articles-index {
    width: 96.5%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .individual-block-articles-index {
    width: 89%;
    height: 100%;
  }
}

@media (max-width: 575.98px) {
  .individual-block-articles-index {
    height: 100%;
  }
}

/* ============================== 4. PAGE BLOG ============================== */
.block-blog {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  width: 84%;
}

.block-blog li {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.block-blog li span {
  display: block;
}

.block-blog li span:first-child {
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
}

.block-blog li span:nth-child(2) {
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
}

.block-blog li span:nth-child(4) {
  font-weight: 400;
  font-size: 20px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .block-blog {
    width: 81.25%;
    margin: 80px auto;
  }
}

.block-blog-button-menu {
  text-align: center;
  width: 630px;
  margin: -230px auto 90px;
}

@media (min-width: 651px) and (max-width: 767.98px) {
  .block-blog-button-menu {
    width: 85%;
  }
}

@media (min-width: 590px) and (max-width: 650.98px) {
  .block-blog-button-menu {
    width: 75%;
    margin: -325px auto 90px;
  }
}

@media (max-width: 589.98px) {
  .block-blog-button-menu {
    width: 75%;
    margin: -325px auto 90px;
  }
}

@media (max-width: 576px) {
  .block-blog-button-menu {
    width: 75%;
    margin: -300px auto 90px;
  }
}

@media (max-width: 412px) {
  .block-blog-button-menu {
    width: 100%;
    margin: -300px auto 90px;
  }
}

.block-blog-index {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  border-radius: 0;
  z-index: 0;
  text-shadow: 0 0 2px white;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

.block-blog-index li {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.block-blog-index li span {
  display: block;
}

.block-blog-index li span:first-child {
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
}

.block-blog-index li span:nth-child(2) {
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
}

.block-blog-index li span:nth-child(4) {
  font-weight: 400;
  font-size: 20px;
}

.block-blog-index:hover a {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.block-blog-index li iframe,
.block-blog-index img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .block-blog-index {
    height: 100%;
  }
}

@media (max-width: 575.98px) {
  .block-blog-index {
    height: 100%;
  }
}

.individual-block-blog-index {
  border: 1px solid #e1e1e1;
  background: white;
  border-radius: 20px;
  padding: 10px 20px;
  position: relative;
  width: 100%;
  height: 367px;
  margin: auto;
  margin-bottom: 50px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .individual-block-blog-index {
    width: 96.5%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .individual-block-blog-index {
    width: 89%;
    height: 100%;
  }
}

@media (max-width: 575.98px) {
  .individual-block-blog-index {
    width: 85%;
    height: 100%;
    margin: auto;
    margin-top: 100px;
  }
}

/* ============================== 5. PAGE A PROPOS ============================== */
.about-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: url("#goo");
          filter: url("#goo");
  margin-top: -190px;
  padding-bottom: 63px;
}

.button {
  z-index: 99;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  height: 40px;
  background: linear-gradient(50deg, #24415b, #b04c34);
  border-radius: 20px;
  color: #FFF;
  font-size: 20px;
  text-transform: uppercase;
}

.more-about {
  margin: 10px;
  padding-bottom: 5px;
}

.social {
  opacity: 0;
  position: relative;
  margin: 8px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
  color: #FFF;
  font-size: 20px;
  text-align: center;
}

.social i {
  margin-top: 10px;
}

.social a {
  color: #FFF;
}

.github {
  background: #24292e;
  padding-left: 1px;
}

.linkedin {
  background: #0077b5;
  padding-left: 1px;
}

.cvsite {
  background: #24415b;
  padding-left: 1px;
}

.email {
  background: #b04c34;
  padding-top: 7px;
  padding-left: 9.5px;
}

.clicked {
  opacity: 1;
  -webkit-transition: 1.2s all ease;
  transition: 1.2s all ease;
  -webkit-transform: translateY(56px);
          transform: translateY(56px);
}

/* ============================== 6. PAGE CONTACT ============================== */
.block-contact {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  max-width: 1054px;
  width: 84%;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .block-contact {
    width: 81.25%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .block-contact {
    width: 75%;
  }
}

@media (max-width: 575.98px) {
  .block-contact {
    width: 93%;
  }
}

.block-contact-menu {
  text-align: center;
  width: 100%;
  margin: -110px auto 115px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .block-contact-menu {
    width: 84%;
    margin: -190px auto 115px;
  }
}

@media (max-width: 575.98px) {
  .block-contact-menu {
    margin: -136px auto 40px;
  }
}

.block-manage-contact {
  border: 1px solid #e1e1e1;
  margin: 0;
  padding: 20px;
}

.individual-block-contact-index,
.individual-block-profile-index,
.individual-block-edit-index {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  background: white;
  width: 50%;
  min-width: 400px;
}

.individual-block-contact-index li,
.individual-block-profile-index li,
.individual-block-edit-index li {
  list-style: none;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .individual-block-contact-index,
  .individual-block-profile-index,
  .individual-block-edit-index {
    width: 97%;
    margin: 80px auto;
  }
}

@media (max-width: 575.98px) {
  .individual-block-contact-index,
  .individual-block-profile-index,
  .individual-block-edit-index {
    width: 93%;
  }
}

.contact-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: url("#goo");
          filter: url("#goo");
  margin-top: -190px;
  padding-bottom: 63px;
}

.contactbutton {
  z-index: 99;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 40px;
  background: linear-gradient(50deg, #24415b, #b04c34);
  border-radius: 20px;
  color: #FFF;
  font-size: 20px;
  text-transform: uppercase;
}

.more-about {
  margin: 10px;
  padding-bottom: 5px;
}

.contactsocial1 {
  opacity: 0;
  position: relative;
  margin: 8px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  display: inline-block;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  padding-top: 6px;
}

.contactsocial1 i {
  margin-top: 10px;
}

.contactsocial1 a {
  color: #FFF;
}

.contactsocial2 {
  opacity: 0;
  position: relative;
  margin: 8px;
  width: 160px;
  height: 40px;
  border-radius: 20px;
  display: inline-block;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  padding-top: 6px;
}

.contactsocial2 i {
  margin-top: 10px;
}

.contactsocial2 a {
  color: #FFF;
}

.mail {
  background: #24415b;
  padding-left: 1px;
}

.phone {
  background: #b04c34;
  padding-left: 1px;
}

.clicked {
  opacity: 1;
  -webkit-transition: 1.2s all ease;
  transition: 1.2s all ease;
  -webkit-transform: translateY(56px);
          transform: translateY(56px);
}

/* ============================== 7. PAGE CATEGORIES ============================== */
.block-categories {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  width: 25%;
  min-width: 450px;
}

@media (max-width: 575.98px) {
  .block-categories {
    width: 97%;
    max-width: 450px;
    min-width: 250px;
  }
}

/* ============================== 8. PAGES USERS ============================== */
.block-users {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  width: 50%;
  min-width: 450px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .block-users {
    width: 81.25%;
    margin-bottom: 80px;
  }
}

@media (max-width: 575.98px) {
  .block-users {
    width: 93%;
    min-width: 250px;
  }
}

.block-login,
.block-register,
.block-profile {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  width: 50%;
  min-width: 450px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .block-login,
  .block-register,
  .block-profile {
    width: 81.25%;
    margin: 80px auto;
  }
}

@media (max-width: 575.98px) {
  .block-login,
  .block-register,
  .block-profile {
    width: 93%;
    min-width: 250px;
  }
}

.block-manage {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  width: 50%;
  min-width: 450px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .block-manage {
    width: 81.25%;
    margin: 80px auto;
  }
}

@media (max-width: 575.98px) {
  .block-manage {
    width: 93%;
    min-width: 250px;
  }
}

.block-manage-bis {
  border: 1px solid #e1e1e1;
  margin: 0;
  padding: 20px;
}

/* MIXIN DES BOUTONS SPECIFIQUES */
/* BOUTONS MDP OUBLIE ET CREER UN COMPTE DE LA PAGE CONNEXION */
.btn-login-forgot-password {
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 5px;
  color: white;
  background: #b04c34;
}

.btn-login-create-account {
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 5px;
  color: white;
  background: #24415b;
  margin-top: 20px;
}

/* BOUTON MODIFIER DE LA PAGE UPDATE */
.btn-update-add {
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 5px;
  color: white;
  background: #24415b;
}

.btn-update-edit {
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 5px;
  color: white;
  background: #24415b;
}

/* BOUTON SUPPRIMER ET TEXTES DES PAGES PROFILE ET MANAGE USERS */
.block-manage-users,
.block-profile-users,
.block-edit-users {
  border: 1px solid #e1e1e1;
  margin: 0;
  padding: 20px;
}

.btn-users-edit {
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 5px;
  color: white;
  background: #24415b;
  margin-top: 10px;
}

.btn-users-delete {
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 5px;
  color: white;
  background: #b04c34;
  margin-top: 10px;
}

.avatar-position {
  float: right;
}

/* BOUTONS MODIFIER LE PROFIL ET MODIFIER LE MOT DE PASSE DE LA PAGE PROFIL USERS */
.btn-profile-edit {
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 5px;
  color: white;
  background: #b04c34;
  margin-top: 10px;
}

.btn-password-edit {
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 5px;
  color: white;
  background: #24415b;
  margin-top: 20px;
}

/* CHECK-BOX ET BOUTONS MODIFIER L'ARTICLE... ET SUPPRIMER L'ARTICLE... DES PAGES MANAGE */
.check-box-line {
  float: right;
}

.btn-manage-edit {
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 5px;
  color: white;
  background: #24415b;
  margin-top: 20px;
}

.btn-manage-delete {
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 5px;
  color: white;
  background: #b04c34;
  margin-top: 20px;
}

/* ============================== 9. MAJ ============================== */
.update-date {
  font-weight: 700;
  float: right;
}

/* ============================== x. FOOTER ============================== */
.block-legal-notice {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  max-width: 1054px;
  width: 76%;
}

@media (max-width: 575.98px) {
  .block-legal-notice {
    width: 84%;
  }
}

.block-legal-notice h2 {
  margin: 10px 0;
  font-size: 1.2em;
}

.block-legal-notice h3 {
  margin: 10px 0;
  font-size: 1em;
  text-decoration: underline;
  font-weight: normal;
}

.block-legal-notice p {
  line-height: 1em;
  margin: 0;
}

.block-legal-notice ul {
  margin: 0.5em 0;
}
/*# sourceMappingURL=style.css.map */