@charset "UTF-8";
/* DOCUMENT INFORMATION
    - Document: Site Vincent NGUYEN
    - Version : 1.0.1 du 01/08/2020
    - Auteur: Vincent NGUYEN- 01/08/2020

/* COLORS
    - default body text     black
    - h1                    black
    - h2                    black
    - h3                    black
    - h4                    black
    - block menu            white & black if hover
    - icon                  white 
    - button                white & green for background-color  
    - users                 $color-users   
    - visitors              $color-visitors 
    - home                  $color-home 
    - users                 $color-users 
    - articles              $color-articles 
    - blog                  $color-blog 
    - about                 $color-about 
    - contact               $color-contact    

/* FONTS
    - Default:              ''

/* CSS DIRECTORY

    0. GLOBAL

    0. TOUTES LES PAGES

    1. PAGE ACCUEIL

    2. PAGE PORTFOLIO

    3. PAGE ARTICLES

    4. PAGE BLOG

    5. PAGE A PROPOS

    6. PAGE CONTACT

    7. PAGE CATEGORIES

    8. PAGE USERS

    9. PAGE MAJ

    X. FOOTER

/* ============================== 0. GLOBAL ============================== */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
body {
  background-color: white;
  font-weight: 400;
  font-size: 15px;
  color: #3a2127;
  overflow-y: scroll;
}

.example-wrapper {
  margin: 2em auto;
  width: 84%;
  font: 18px/1.5 sans-serif;
}

.example-wrapper code {
  background: #F5F5F5;
  padding: 2px 6px;
}

ol,
ul {
  list-style: none;
}

.btn {
  display: inline-block;
  margin: 0;
}

/* ============================== 0. TOUTES LES PAGES ============================== */
.bg00 {
  background: url("../images/bg00.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mh-menu {
  width: 84%;
  height: 450px;
  margin: 10px auto;
  padding: 0;
  position: relative;
}

.mh-menu ul {
  list-style: inside;
}

.mh-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.mh-menu li a span {
  display: block;
}

.mh-menu li a span:first-child {
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
}

.mh-menu li a span:nth-child(2) {
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

/* harmonisation des couleurs */
.users-color {
  background-color: white;
}

.visitors-color {
  background-color: white;
}

.home-color {
  background-color: white;
}

.portfolio-color {
  background-color: white;
}

.articles-color {
  background-color: white;
}

.blog-color {
  background-color: white;
}

.about-color {
  background-color: white;
}

.contact-color {
  background-color: white;
}

/* barres de navigation verticales */
.sidenav {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 220px;
}

.sidenav-color-users {
  color: white;
  background-color: green;
  color: white;
  background-color: green;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-color-users:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 800px 100px -100px white inset;
          box-shadow: 0 800px 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-color-visitors {
  color: white;
  background-color: red;
  color: white;
  background-color: red;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-color-visitors:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 800px 100px -100px white inset;
          box-shadow: 0 800px 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-color-home {
  color: white;
  background-color: #f29220;
  color: white;
  background-color: #f29220;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-color-home:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 800px 100px -100px white inset;
          box-shadow: 0 800px 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-color-portfolio {
  color: white;
  background-color: #f29220;
  color: white;
  background-color: #f29220;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-color-portfolio:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 800px 100px -100px white inset;
          box-shadow: 0 800px 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-color-articles {
  color: white;
  background-color: #2a9ad4;
  color: white;
  background-color: #2a9ad4;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-color-articles:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 800px 100px -100px white inset;
          box-shadow: 0 800px 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-color-blog {
  color: white;
  background-color: #116bab;
  color: white;
  background-color: #116bab;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-color-blog:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 800px 100px -100px white inset;
          box-shadow: 0 800px 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-color-about {
  color: white;
  background-color: #253f4e;
  color: white;
  background-color: #253f4e;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-color-about:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 800px 100px -100px white inset;
          box-shadow: 0 800px 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-color-contact {
  color: white;
  background-color: #152530;
  color: white;
  background-color: #152530;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-color-contact:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 800px 100px -100px white inset;
          box-shadow: 0 800px 100px -100px white inset;
  -webkit-transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, -webkit-box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s;
  transition: background-color 2.5s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.sidenav-trigger {
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav-trigger:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* boutons de navigation des barres de navigation verticales */
.sidenav-role-icon {
  font-size: 22px;
  margin-left: -8px;
}

.sidenav-icon {
  font-size: 27px;
  margin-left: -8px;
}

.sidenav-admin {
  position: fixed;
  left: 0.4em;
  border: 1px solid white;
  width: 50px;
  top: 19em;
}

.sidenav-registered {
  position: fixed;
  left: 0.4em;
  border: 1px solid white;
  width: 50px;
  top: 19em;
}

.sidenav-visitor {
  position: fixed;
  left: 0.4em;
  border: 1px solid white;
  width: 50px;
  top: 19em;
}

.sidenav-menu {
  position: fixed;
  left: 0.4em;
  border: 1px solid white;
  width: 50px;
  top: 23em;
}

.sidenav-portfolio {
  position: fixed;
  left: 0.4em;
  border: 1px solid white;
  width: 50px;
  top: 26em;
}

.sidenav-articles {
  position: fixed;
  left: 0.4em;
  border: 1px solid white;
  width: 50px;
  top: 29em;
}

.sidenav-blog {
  position: fixed;
  left: 0.4em;
  border: 1px solid white;
  width: 50px;
  top: 32em;
}

.sidenav-about {
  position: fixed;
  left: 0.4em;
  border: 1px solid white;
  width: 50px;
  top: 35em;
}

.sidenav-contact {
  position: fixed;
  left: 0.4em;
  border: 1px solid white;
  width: 50px;
  top: 38em;
}

/* icones des boutons des barres de navigation verticales */
.sidenav-menu-trigger {
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid white;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  left: 55px;
  bottom: 25px;
}

.sidenav-menu-trigger:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav-menu-role-icon {
  font-size: 60px;
  margin-top: 6px;
  margin-left: -8px;
}

.sidenav-menu-icon {
  font-size: 75px;
  margin-left: -8px;
}

.bg00 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

/* Texte titre */
.text-titre {
  width: 100%;
  height: 880px;
  padding-top: 330px;
  margin-top: -100px;
}

.pre-title {
  font-family: 'Raleway', sans-serif;
  display: block;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 12%;
}

.title {
  width: 90%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: transparent;
  font-size: 140px;
  background: url("https://phandroid.s3.amazonaws.com/wp-content/uploads/2014/05/rainbow-nebula.jpg") repeat;
  background-position: 40% 50%;
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
  text-align: center;
  line-height: 140px;
  letter-spacing: -8px;
}

.post-title {
  font-family: 'Raleway', sans-serif;
  display: block;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  padding-top: 20px;
  text-align: right;
  padding-right: 12%;
}

/* blocks thèmes de la page accueil */
.mh-menu-home {
  width: 450px;
  height: 450px;
  margin: auto;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #f29220;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.mh-menu-home:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 480px 100px -100px white inset;
          box-shadow: 0 480px 100px -100px white inset;
  -webkit-transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.mh-menu-portfolio {
  width: 450px;
  height: 450px;
  margin: auto;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #f29220;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.mh-menu-portfolio:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 480px 100px -100px white inset;
          box-shadow: 0 480px 100px -100px white inset;
  -webkit-transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.mh-menu-articles {
  width: 450px;
  height: 450px;
  margin: auto;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #2a9ad4;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.mh-menu-articles:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 480px 100px -100px white inset;
          box-shadow: 0 480px 100px -100px white inset;
  -webkit-transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.mh-menu-blog {
  width: 450px;
  height: 450px;
  margin: auto;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #116bab;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.mh-menu-blog:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 480px 100px -100px white inset;
          box-shadow: 0 480px 100px -100px white inset;
  -webkit-transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.mh-menu-about {
  width: 450px;
  height: 450px;
  margin: auto;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #253f4e;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.mh-menu-about:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 480px 100px -100px white inset;
          box-shadow: 0 480px 100px -100px white inset;
  -webkit-transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.mh-menu-contact {
  width: 450px;
  height: 450px;
  margin: auto;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #152530;
  -webkit-box-shadow: 0 0 100px -100px white inset;
          box-shadow: 0 0 100px -100px white inset;
  -webkit-transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

.mh-menu-contact:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 480px 100px -100px white inset;
          box-shadow: 0 480px 100px -100px white inset;
  -webkit-transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, -webkit-box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s;
  transition: background-color 2s, box-shadow 2.5s, -webkit-box-shadow 2.5s;
}

/* icones en fond des blocks thèmes de la page accueil */
.production :hover a {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.pdo:hover a {
  display: none;
}

.php:hover a {
  display: none;
}

.html:hover a {
  display: none;
}

.site {
  opacity: 0.9925;
}

.site li iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.site-home li iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-color: white;
}

.site li:hover iframe {
  left: 0px;
  top: 0px;
  opacity: 1;
}

.btn-site {
  width: 84%;
  margin: 10px auto 40px;
  text-align: center;
}

/* ============================== x. FOOTER ============================== */
/*# sourceMappingURL=style.css.map */