{% extends 'base.html.twig' %}

{% block title %}Ajouter une réalisation{% endblock %}

{% block body %}
<div class="example-wrapper zone">
<h1 class="portfolio-color">Ajouter une réalisation</h1>
</div>

<div class="example-wrapper zone portfolio-color">
    {{ form(form) }}
</div>
    
{% endblock %}  
