article blog'base.html.twig' %}

{% block title %}Ajouter un article blog{% endblock %}

{% block body %}
<div class="example-wrapper zone">
<h1>Ajouter un article blog</h1>
    {{ form(form) }}
</div>
{% endblock %}  
