{% extends 'base.html.twig' %}

{% block title %}Ajouter un article à la page Articles{% endblock %}

{% block body %}
<div class="example-wrapper-title">
    <h1>Ajouter un article à la page Articles</h1>
</div>

<div class="example-wrapper block-users users-color">
    {{ form(form) }}
</div>
{% endblock %}