{% extends 'base.html.twig' %}

{% block title %}Modifier un commentaire{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="articles-color">Modifier un commentaire</h1>
</div>

<div class="example-wrapper articles-color">
    {{ form(form) }}
</div>

<div class="btn-site wrapper">
    <a class="cta" href="{{ path('articles_manage') }}">
        <span class="next-button">Retour à la liste</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}