{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1 class="contact-color">Me contacter :</h1>
</div>

<div class="example-wrapper contact-color">
    {{ form(form) }}
</div>
{% endblock %}