{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="color-block-video-title">
    <video class="video-title" height="360" autoplay="true" loop muted>
        <source src="{{asset('bgvideo/background-video.mp4')}}" type="video/mp4" />
    </video>
    <div class="video-title-text">Contact</div>
</div>

<div class="example-wrapper block-contact contact-color">
    <h1>Formulaire de contact</h1>
    {{ form(form) }}
</div>
{% endblock %}