{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


<div class="example-wrapper all-title-except-home">
    <div class="example-wrapper home-color">
    <div class="title">Contact</div>
</div>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
</div>

<div class="example-wrapper contact-color">
    {{ form(form) }}
</div>
{% endblock %}