{% extends 'base.html.twig' %}

{% block title %}Ajouter une mise à jour{% endblock %}

{% block body %}
<div class="example-wrapper-title">
    <h1>Ajouter ou modifier une mise à jour</h1>
</div>

<div class="example-wrapper block-users users-color">
    {{ form(form) }}
</div>
{% endblock %}