{% extends 'base.html.twig' %}

{% block title %}MAJ{% endblock %}

{% block body %}

<div class="color-block-video-title">
    <video class="video-title" height="360" autoplay="true" loop muted>
        <source src="{{asset('bgvideo/background-video.mp4')}}" type="video/mp4" />
    </video>
    <div class="video-title-text">Maj</div>
</div>

<div class="example-wrapper grix xs1 md2 lg2 gutter-xs7">
    {% for update in update %}
        <div class="individual-block-update-index">
            <ul class="block-update-index update-color">
                <li>
                    <span>{{ update.createdAt | date ('d/m/Y') }}</span>
                    <span>{{ update.content | raw }}</span>
                </li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}